<!DOCTYPE html>
<html>
  <head>
    <title>Kickball League</title>
    <link rel="stylesheet" href="home.css">
  </head>

  <body>
    <h1>Kickball League</h1>
    <ul>
      <% teams.each do |name, team| %>
        <li><a href="/home/<%= name %>"><%= name %></a></li>
      <% end %>
    </ul>

    <h2>Positions</h2>
    <ul>
      <% position_list.each do |position| %>
        <li><a href="/home/positions/<%= position %>"><%= position %></a></li>
      <% end %>
    </ul>
  </body>

</html>
